* {
    box-sizing: border-box;
}

html {
    background-color: #F5E2C8;
    margin: 0;
    padding: 0;
}

body {
    margin: auto 1em;
    font-size: 1.5em;
    padding: 2em 2em 4em;
    max-width: 800px;
    font-family: "Lato", monospace;
    color: #0A2463;
}

@media only screen and (max-width: 40em) {

    body {
	  padding:1em;
      font-size: 1em;
    }

}

a {
    color:  #1098F7;
    text-decoration: none;
}

a:hover {
    color: #6DAEDB;
}

#headshot {
    max-width: 200px;
    border-radius: 20%;
}

#header {
    /* margin: auto 1em; */
    margin-bottom: 2em;
}

#name {
    color: #F26430;
    font-family: "Cardo", serif;
    font-size: 2.5em;
}

p {
    line-height: 1.5em;
}

.float-left {
    float: left;
    margin: auto 1em auto auto;
}

#about-me {
    max-width: 800px;
}


#links {
    margin: 2em auto;
}

#keywords{
    font-size: .75em;
}

#projects p {
    font-size: .8em;
}

.project {
    margin: auto 1em 2em;
    max-width: 800px;
}

.project:after{
    clear: both;
}

.project-image {
    margin: auto 1em auto auto;
    float: left;
    max-width: 200px;
}
